@mixin clearfix{
  &:after{
    content:'';
    display: table;
    clear: both;
  }
}
@media screen and (max-width:1281px){
  html{
    font-size:14px;
  }
}

@media screen and (max-width:1081px){
  html{
    font-size:12px
  }
}